---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Fecha'
    value: page.fecha
  - label: 'Autores'
    value: page.autores
    type: list
  - label: 'Editores'
    value: page.editores
  - label: 'Grupo'
    value: page.grupo
  - label: 'País'
    value: page.pais
  - label: 'Ciudad'
    value: page.ciudad
  - label: 'Tipo'
    value: page.tipo_principal
  - label: 'Medio de impresión'
    value: page.medio_impresion
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---